# Python binaries
*.py[co]

# Autosaves and such
*.asv
*.swp
~*
*~
*#

# Cart3D huge files.
*.c3d

# Cart3D setup/grid folders
Grid*

# Post-processing folders


# Any subfolder of an example
examples/*/*/

# Documentation outputs
doc/_*

