# Python binaries
*.py[co]

# Autosaves and such
*.asv
*.swp
~*
*~
*#

# Cart3D huge files.
*.c3d

# Cart3D setup/grid folders
Grid*

# pyCart Python/C binaries
pyCart/build/
*.o
*.so

# Sandbox foloders
sandbox/
scratch/

# Releases
release/*.gz
release/*.zip

# Documentation outputs
doc/_*

