# Python binaries
*.py[co]
__pychache__

# Compile/build folders
/build
/cape/build
/cape/dist
*.egg-info
/dist

# Local settings
.vscode

# Autosaves and such
*.asv
*.swp
~*
*~
*#

# Working test folders
test/*/*/work

# Cart3D huge files.
*.c3d

# CAPE Python/C binaries
*/build/
*.o
*.so

# Sandbox foloders
sandbox/
scratch/

# Releases
release/*.gz
release/*.zip

# Documentation outputs
/doc/_build
/doc/cape.pdf

