<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- $Id: Config.xml,v 1.2 2008/11/28 20:06:34 aftosmis Exp $  -->

<Configuration Name="bJet Sample" Source="bJet.a.tri">

<!-- this component hierarchy is illustrated in ./bJetComps.png -->


<!-- triangulated components -->
 <Component Name="fuselage" Type="tri">
  <Data> Face Label=1 </Data>
 </Component>
 <Component Name="wing" Type="tri">
  <Data> Face Label=2 </Data>
 </Component>
 <Component Name="htail"     Parent="empennage" Type="tri">
  <Data> Face Label=3 </Data>
 </Component>
 <Component Name="vtail"     Parent="empennage" Type="tri">
  <Data> Face Label=4 </Data>
 </Component>
 <Component Name="r_nacelle" Parent="engines" Type="tri">
  <Data> Face Label=5 </Data>
 </Component>
 <Component Name="l_nacelle" Parent="engines" Type="tri">
  <Data> Face Label=6 </Data>
 </Component>
 <Component Name="r_pylon"   Parent="engines" Type="tri">
  <Data> Face Label=7 </Data>
 </Component>
 <Component Name="l_pylon"   Parent="engines" Type="tri">
  <Data> Face Label=8 </Data>
 </Component>

<!-- Containers -->
 <Component Name="empennage" Type="container"> </Component>
 <Component Name="engines"   Type="container"> </Component>

</Configuration>
